<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blockchain-news</title>
    </head>
    <body>

        <div class='page'>
        <h1>Blockchain-news</h1>
        <div class=metanav>
            <em style="color: #ffc52e;">快来，看看地球上即将发生什么。。。</em>
        </div>

        </div>
        <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'rong.js') }}" ></script>
        <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'news.js') }}" ></script>
        <!--<script src="/web/templates?file=rong.js"></script>
        <script src="/web/templates?file=news.js"></script>
        -->
    </body>
</html>





